{% extends "base.html" %}
{% block title %} Профайл пользователя {{ user.get_full_name }} {% endblock %}
{% block content %} 
<main>      
    <h1>Все посты пользователя {{ user.get_full_name }}</h1>
    <h3>Всего постов: {{ post_count }}</h3>   
    {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ user.get_full_name }}
          <a href="{% url 'posts:profile' post.author.username %}">
            все посты пользователя
          </a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }} 
        </li>
      </ul>
      <p>
        {{ post.text|safe }}
      </p>
      <a href="{% url 'posts:post_detail' post.id %}">
        подробная информация 
      </a>
    </article>
    <hr>
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}  
  </div>
</main>
{% endblock %}
